@model Shop_T.Models.Login.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="card card-login mx-auto text-center bg-dark">
        <form class="form-signin" method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label asp-for="Username" class="sr-only">Username</label>
            <input asp-for="Username" class="form-control form-control-lg" placeholder="Username" required="" autofocus="" />
            <span asp-validation-for="Username"></span>

            <label asp-for="Password" class="sr-only">Password</label>
            <input asp-for="Password" class="form-control form-control-lg" placeholder="Password" required="" />
            <span asp-validation-for="Password"></span>

            <div class="checkbox mb-3">
                <label asp-for="RememberMe" class="sr-only">
                    <input asp-for="RememberMe" type="checkbox" value="remember-me"> Remember me
                </label>
                <span asp-validation-for="RememberMe"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
</div>
