@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div id="container">
    <section id="works" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Please check your email to reset your password.
                    </h3>
</div>
                </div>
            </div>
        </section>
    </div>
