@model Shop_T.Models.CategoriesViewModel
    ViewData["Title"] = "Picture Display";
}

<div class="portfolio-item grid print @Model.ClassName">
    <div class="portfolio">
        <a href="~/img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
            <img src="@Model.Picture" alt="" />
            <div class="portfolio-overlay">
                <div class="thumb-info">
                    <h5>@Model.Name</h5>
                    <i class="icon-plus icon-2x"></i>
                </div>
            </div>
        </a>
    </div>
</div>